.modal {
	position: absolute;
	z-index: 10000; /* 1 */
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	min-height: 100%;
	overflow: auto;
}

.modal.is-visible {
	visibility: visible;
}

.modal-overlay {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.modal-wrapper {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	padding: 50px 30px;
	width: 100%;
}
@media (max-width: 1024px){
	.modal-wrapper {
		padding: 20px;
	}	
}

.modal-inner {
	background-color: #fff;
	box-shadow: 0 0 1.5em hsl(0deg 0% 0% / 35%);
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}
@media (max-width: 1024px){
	.modal-inner {

	}	
}

.modal-transition {
	transition: all 0.3s 0.12s;
	transform: translateY(-10%);
	opacity: 0;
}

.modal.is-visible .modal-transition {
	transform: translateY(0);
	opacity: 1;
}

.modal-close {
	justify-content: center;
	right: 30px;
	top: 50px;
	cursor: pointer;
	border: 1px solid #8B8788;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 12px;
	padding: 17px 15px;
	min-width: 175px;
	border-radius: 3px;
	background-color: #fff;

	
}

@media (max-width: 900px){
    .modal-close {
        position: static;
        margin-bottom: 20px;
        width: 130px;
        min-width: auto;
        padding: 10px;
        right: 20px;
        font-size: 10px;
    }
}

.modal-close:hover {
	color: #777;
}

.modal-heading {
	font-size: 1.125em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
	margin-top: 0;
}

.modal-content > *:last-child {
	margin-bottom: 0;
}